.addTaskOverlay {
    background-color: white;
    border-radius: 20px;
    height: 85%;
    width: 60%;
    padding: 30px;
    overflow-y: auto;
    transition: transform 800ms ease-in-out;
    transform: translate(0%);
    animation: slideIn 0.8s ease-in-out;
    max-height: 700px;
}

.selectContactOverlay {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 13px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    margin-top: 5px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 21px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    
}

#dateOverlay:hover {
    cursor: pointer;
}

.addTaskOverlay::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

.addTaskOverlay::-webkit-scrollbar-track {
    margin-top: 25px;
    margin-bottom: 25px;
}

@keyframes slideIn {
    from {
        transform: translate(150%);
    }

    to {
        transform: translate(0%);
    }
}

.headlineContainerOverlay {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.headlineContainerOverlay img {
    height: 16px;
    width: 16px;
    transition: ease-in-out 125ms;
}

.headlineContainerOverlay img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out 125ms;
}


@media (max-width: 1450px) {
    .borderlineOverlay {
        display: none;
    }

    .contentLeftAndRightOverlay {
        flex-direction: column;
    }

    input {
        width: 100% !important;
    }

    textarea {
        width: 100%;
    }

    select {
        width: 100%;
    }

    .twoButtonsContainerOverlay {
        margin-top: 20px;
    }

    .contentRight {
        margin-left: 0;
    }
}

@media(min-width: 571px) {
    .closeBtnArrow {
        display: none;
    }
}

@media (max-width: 570px) {
    .addTaskOverlay {
        height: 90vh;
        width: 90vw;
    }

    .closeBtnCross {
        display: none;
    }

    .headlineContainerOverlay img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 570px) {
    .addTaskOverlay {
        height: 100%;
        width: 100%;
    }

    .headlineContainerOverlay img {
        margin-top: 20px
    }
}

@media (max-width: 1000px) {
    .addTaskOverlay {
        padding: 20px;
    }
}